@{
    ViewData["Title"] = "Doação";
}
<div class="container-fluid pt-0 card-simple">
    <div class="container">
         <h2 class="pag_title">Revalidação</h2>

       
            <p>A Lei nº 9.394, de 20 de dezembro de 1996 - Lei de Diretrizes e Bases da Educação Nacional - estabelece que os diplomas de graduação emitidos por instituições estrangeiras devem ser revalidados, ou passar por uma nova validação por universidades públicas brasileiras. Para isso, é necessário que o curso seja de mesmo nível ou área equivalente ao disponibilizado pela instituição brasileira. Não somente os diplomas de graduação, como os diplomas de mestrado e doutorado devem passar pelo mesmo processo de reconhecimento. </p>
            <p>Algumas ongs podem ajudar você a solicitar revalidações, como a <a href="https://www.acnur.org/portugues/fale-conosco/" target="_blank">ACNUR Brasil</a>, <a href="https://caritas.org.br/fale-conosco" target="_blank">Cáritas</a> e <a href="https://compassiva.org.br/contato/" target="_blank">Compassiva</a>, poderá acessar o site oficial de cada uma por clicar no link nome de cada uma. Ou se preferir, o Ministério da Educação criou um portal específico sobre o tema com informações detalhadas – a Plataforma Carolina Bori. Portanto, para mais informações e para dar entrada no pedido pela via digital nas universidades que aderiram ao portal, você pode acessá-lo <a href="http://carolinabori.mec.gov.br/?pagina=inicial" target="_blank">aqui</a></p>
            <p>Para informações complementares sobre revalidação e como funciona o fluxo da revalidação, poderá consultar uma matéria feita pelo ministério da educação, clicando <a href="http://portal.mec.gov.br/revalidacao-de-diplomas" target="_blank">aqui</a>.</p>
    </div>
</div>
                        