@{
    ViewData["Title"] = "Doação";
}
<div class="container-fluid pt-0 card-simple">
    <div class="container">
         <h2 class="pag_title">Revalidação</h2>

        <section>
            <p>A Lei nº 9.394, de 20 de dezembro de 1996 - Lei de Diretrizes e Bases da Educação Nacional - estabelece que os diplomas de graduação emitidos por instituições estrangeiras devem ser revalidados, ou passar por uma nova validação por universidades públicas brasileiras. Para isso, é necessário que o curso seja de mesmo nível ou área equivalente ao disponibilizado pela instituição brasileira. Não somente os diplomas de graduação, como os diplomas de mestrado e doutorado devem passar pelo mesmo processo de reconhecimento. </p>
            <p>Para entender o funcionamento da revalidação veja o fluxograma abaixo:</p>

            <div class="forms-details-full bg-white text-black-50">
            
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Como me Cadastrar?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            Para se cadastrar, clique em <a href="~/Pessoa/Create">Cadastrar</a>, em seguida, insira seu nome completo, e-mail e senha.
                            Você também pode escolher a foto do seu perfil. Por fim, clique em cadastrar.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Como fazer uma Postagem?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            Acesse seu perfil, clicando em (link da pag ou foto ilustrativa), escolha se quer postar uma Oferta de Imóvel ou Oferta de Trabalho
                            (link das pags ou foto ilustrativa), aperte o botão “Adicionar” (pode ter foto ilustrativa), preencha os campos de título da oferta,
                            descrição, endereço completo, etc. Quando preencher todos os campos, aperte em Adicionar. Pronto, sua postagem foi enviada ao Feed.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Como buscar por Ongs Parceiras?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            De qualquer página, você pode acessar o Menu Lateral que dá acesso a página das nossas Ongs Parceiras.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Como recuperar minha senha?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            Em caso de perda de senha, você pode clicar em “<a href="~/Login/RecuperarSenha">esqueceu sua senha?</a>” abaixo dos campos de login. Você deve então preencher o campo com seu e-mail,
                            para onde enviaremos um código de redefinição de senha. Em seguida, digite o código enviado para seu e-mail e insira a nova senha e sua confirmação. Clique em enviar e pronto,
                            você tem uma nova senha!
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Como recuperar meu cadastro?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Como buscar por empregos?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                        <div class="accordion-body">
                            Para ter acesso além das postagens que estão no feed, vá ao Menu Lateral e clique em <a href="~/Home/EmpregosServicos">Empregos e Serviços</a>.
                            Você será levado a uma página onde escolherá se deseja buscar um profissional ou
                            se busca uma vaga. A partir da sua escolha, será encaminhado para uma página onde é possível ver as postagens e
                            filtrar pelo Estado (UF) (pode ter imagem ilustrativa).
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Como buscar por Moradias?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                        <div class="accordion-body">
                            Para ter acesso além das postagens que estão no feed, vá ao Menu Lateral e clique em Moradia. Será exibido todas as postagens de moradia e é possível
                            filtrar as ofertas pelos Estados (UF) (pode ter imagem ilustrativa).
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </section>
           <p>Algumas ongs podem ajudar você a solicitar revalidações, como a <a href="https://www.acnur.org/portugues/fale-conosco/" target="_blank">ACNUR Brasil</a>, <a href="https://caritas.org.br/fale-conosco" target="_blank">Cáritas</a> e <a href="https://compassiva.org.br/contato/" target="_blank">Compassiva</a>, poderá acessar o site oficial de cada uma por clicar no link nome de cada uma. Ou se preferir, o Ministério da Educação criou um portal específico sobre o tema com informações detalhadas – a Plataforma Carolina Bori. Portanto, para mais informações e para dar entrada no pedido pela via digital nas universidades que aderiram ao portal, você pode acessá-lo <a href="http://carolinabori.mec.gov.br/?pagina=inicial" target="_blank">aqui</a></p>
           <p>Para informações complementares sobre revalidação poderá consultar uma matéria feita pelo ministério da educação, clicando <a href="http://portal.mec.gov.br/revalidacao-de-diplomas" target="_blank">aqui</a>.</p>
    </div>
</div>
                        