@{
    ViewData["Title"] = "Documentação";
}
 <div class="container-fluid pt-0">
        <div class="container mt-3">
            <div class="forms-details-full bg-white text-black-50">
                <h2 class="py-1 pag_title">Documentação</h2>
    
                <div class="accordion" id="accordionPanelsStayOpenExample">
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Carteira de Registro Nacional Migratório (CRNM)
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <p>O solicitante de refúgio que teve a sua condição de refugiado reconhecida pelo Brasil tem o direito de obter o Carteira de Registro Nacional Migratório (CRNM), documento de identidade dos estrangeiros no Brasil. A emissão e a renovação do CRNM são feitas em qualquer unidade da Polícia Federal. Fique atento à data de vencimento do seu CRNM. A renovação do CRNM deverá ser feita três meses antes do vencimento registro, em qualquer unidade da Polícia Federal. O passo a passo é:</p>
                                <Ol>
                                    <li>1º Comparecer ao Departamento da Polícia Federal e solicitar junto àquele órgão a emissão da declaração do CONARE relativa à condição de refugiado. Tal solicitação deverá ser realizada pela Polícia Federal pelo e-mail <a href="mailto:conare@mj.gov.br">conare@mj.gov.br</a></li>
                                    <li>2º Preencher o requerimento no website da <a href="https://www.gov.br/pf/pt-br" target="_blank"> Polícia Federal</a> (clique no quadro “Serviços para Estrangeiros” e depois clique no botão verde escrito “Iniciar” e escolha a opção que se encaixa com você)</li>
                                    <li>3º Efetuar o pagamento da taxa GRU-FUNAPOL para estrangeiros: disponível no website da <a href="https://www.gov.br/pf/pt-br" target="_blank"> Polícia Federal</a></li>
                                    <li>4º Comparecer a uma unidade da Polícia Federal e apresentar os seguintes documentos:
                                        <ul>
                                            <li>Duas fotos 3cmx4cm (recentes, coloridas, frontais, com o fundo branco, sem data).</li>
                                            <li>Requerimento impresso preenchido no website da Polícia Federal.</li>
                                            <li>Protocolo de solicitação de refúgio (apenas para os que solicitam CRNM pela primeira vez).</li>
                                            <li>Cédula de Identidade de Estrangeiro original (apenas para os que desejam renovar o CRNM).</li>
                                            <li> Declaração do CONARE reconhecendo a condição de refugiado no Brasil.</li>
                                            <li>Comprovante de pagamento da taxa GRU-FUNAPOL.</li>
                                        </ul>
                                    </li>
                                </Ol>
                                <p><strong>Obs.:</strong> O estrangeiro menor de 18 anos deverá se apresentar acompanhado dos pais ou responsável legal. Em caso de perda do prazo de renovação, não será cobrada multa do refugiado. Em caso de roubo/perda do CRNM, o refugiado deve comparecer primeiro a qualquer unidade da Polícia Civil para registrar um Boletim de Ocorrência do roubo/perda. Feito isso, deverá se dirigir à Polícia Federal portando tanto o “Boletim de Ocorrência” quanto os documentos correspondentes listados acima (no 4º passo), e solicitar a segunda via do CRNM. Em caso se perda do CRNM, será cobrada uma taxa de valor mais alto do que aquele devido em caso de renovação. Em caso de perda do prazo de renovação, não será cobrada multa do refugiado. Refugiados que obtiveram residência permanente, deficientes físicos e refugiados com mais de 60 anos estão dispensados da renovação do CRNM, mesmo após o vencimento. Em caso de dúvidas e para mais informações, entre em contato com a Polícia Federal pelo número 194 ou pelo e-mail <a href="mailto:estrangeiros@dpf.gov.br">estrangeiros@dpf.gov.br</a>, ou com as organizações da sociedade civil que trabalham com refugiados - Associação Antônio Vieira (ASAV), Caritas Arquidiocesana do Rio de Janeiro (CARJ), Caritas Arquidiocesana de São Paulo (CASP), Centro de Defesa dos Direitos Humanos de Guarulhos (CDDH) e Instituto Migrações e Direitos Humanos (IMDH)</p>
                               
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Cadastro de Pessoas Físicas (CPF)
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                               <p>O CPF é um dos principais documentos para cidadãos residentes no Brasil, pois permite o acesso a uma série de facilidades, como o Sistema Público de Saúde (SUS), o registro em instituições públicas de educação, a abertura de contas em bancos e outras operações financeiras. Qualquer pessoa física, nacional ou estrangeira, pode solicitar a inscrição no CPF</p>
                               <p>Em qualquer agência da Receita Federal, mediante pagamento de taxa, e o documento será expedido na mesma hora em que solicitado. Para fazer pedido, consultas ou atualização do CPF é só ir no site da <a href="https://www.gov.br/receitafederal/pt-br/assuntos/meu-cpf" target="_blank">receita federal</a></p>
                               <p>Os maiores de 18 anos deverão apresentar a original ou a cópia autenticada do seu documento de identificação, que pode ser o protocolo provisório ou o CRNM. Os menores de 18 anos deverão apresentar o original ou a cópia autenticada do seu documento de identificação e o documento de identificação de um dos pais ou responsável.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Carteira de trabalho e Previdência Social (CTPS)
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <p>A Carteira de Trabalho e Previdência Social (CTPS) é o documento que comprova toda a vida funcional do trabalhador. Este documento é obrigatório para o exercício de atividades profissionais e pode ser solicitado por qualquer pessoa maior de 14 anos, nacional ou estrangeira, com residência regular no Brasil.</p>
                                <p>O interessado em tirar a Carteira de Trabalho e Previdência Social deverá se dirigir à Superintendência Regional do Trabalho e Emprego (SRTE) ou à Gerência Regional mais próxima da sua residência, com todos os documentos necessários em mãos. Informações sobre a localização dos postos de atendimento podem ser obtidas pelo telefone 158 na Central de Atendimento Alô Trabalho.</p>
                                <p>Os documentos necessários são:</p>
                                <ul>
                                    <li>Duas fotos em tamanho 3cmx4cm, com fundo branco, coloridas ou em preto-e-branco, iguais e recentes. </li>
                                    <li>Carteira de Registro Nacional Migratório (CRNM) original acompanhada de cópia (frente e verso) ou Protocolo de Solicitação do CRNM (original e cópia). </li>
                                    <li>Os estrangeiros que já foram reconhecidos como refugiados deverão apresentar também uma cópia da decisão ou ofício do CONARE que comprove o reconhecimento da condição de refugiado.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Carteira Nacional de Habilitação (CNH)
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                               <p>A Carteira Nacional de Habilitação, também conhecida como carteira de motorista, carta de motorista ou carteira de habilitação é o documento oficial que, no Brasil, atesta a aptidão de um cidadão para conduzir veículos automotores terrestres</p>
                               <p>Para emitir uma CNH basta ir no site oficial do <a href="https://www.detran.rj.gov.br/_documento.asp?cod=143" target="_blank">Detran</a></p>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Passaporte para estrangeiro
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                <p>Para viajar, o refugiado deverá solicitar uma autorização do CONARE e, com esta declaração em mãos, solicitar um passaporte na Polícia Federal. Este passaporte poderá ter validade limitada a uma viagem de ida e volta ou a um período determinado, se assim a Polícia estabelecer. Em geral, a Polícia Federal recolhe o passaporte quando o refugiado retorna da viagem para a qual o solicitou.</p>

                                <ol>
                                    <li>1º Entrar em contato com o CONARE pelo telefone (61) 2025-3659 ou pelo email <a href="mailto:conare@mj.gov.br">conare@mj.gov.br</a> solicitando uma autorização de viagem ao exterior, informando o período, o motivo e o destino da viagem
                                        <ul>
                                            <li> <strong>Atenção</strong>: o refugiado que sair do país sem autorização prévia do CONARE perderá a condição de refugiado;</li>
                                        </ul>
                                    </li>
                                    <li>2º Apenas depois de obter a autorização do CONARE, o refugiado deverá solicitar a emissão do passaporte para estrangeiro na <a href="https://www.gov.br/pt-br/servicos/obter-passaporte-comum-para-brasileiro" target="_blank">Polícia Federal</a> para então providenciar a emissão de seu bilhete aéreo</li>
                                    <li>3º Efetuar o pagamento da taxa GRU-FUNAPOL por meio de boleto gerado no próprio website da Polícia Federal</li>
                                    <li>4º Comparecer ao posto de atendimento indicado ao final do requerimento, apresentando comprovante de pagamento da taxa, documento de identidade e CPF.</li>
                                </ol>
                                <p>Em caso de dúvidas e para mais informações, entre em contato com a Polícia Federal pelo número 194 ou acesse o site oficial da <a href="https://www.gov.br/pf/pt-br" target="_blank">polícia federal</a>, ou com as organizações da sociedade civil indicadas acima.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Registro Geral (RG)
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingSix">
                            <div class="accordion-body">
                                <p>Para retirar 1º via ou 2º via de RG basta ir no site oficial da <a href="https://www.detran.rj.gov.br/_documento.asp?cod=1438" target="_blank">Detran</a> e fazer seu agendamento</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>