@{
    ViewData["Title"] = "Sobre à Andor";
}
<div class="container-fluid pt-0">
    <div class="container mt-3 p-3">

        <div class="row align-items-center my-3">

            <div class="col-sm-5 p-2">
                <img src="/img/sobre-andor-6.svg" width="100%" />
            </div>
            <div class="col-sm-7 card-simple text-long">
                <h2 class="pag_title text-primary">Nós, a Andor</h2>
                Há situações na vida que nos levam a decisões cruciais, e quando nosso ambiente se torna não-favorável  e hostil a nossa presença,
                a decisão pode ser partir.
                <p>
                    Vários pássaros passam por essa situação, e quando não se tem como permanecer onde estão, migram para
                    locais mais favoráveis.
                </p>
                <p>
                    Claro que, nem para os que voam naturalmente, essa jornada é simples. Por isso, alguns pássaros adotam estratégias
                    para tornar os desafios da viagem mais fáceis, como o voo em V.
                </p>
                <p>
                    Voando nesse formato, os da ponta da frente, geralmente os mais velhos,
                    lideram o voo enquanto direcionam a corrente de ar para trás, fazendo que seja mais fácil para eles os acompanharem, preservando energia
                    dos mais jovens, enquanto estes gritam em incentivo aos que lideram.
                </p>
                Inspirados por essa estratégia de voo, somos a **Andor**, comprometidos em trazer segurança e confiabilidade para pessoas que foram
                submetidas a decisão de buscar refúgio no Brasil.
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm-7 card-simple text-long">
                <h2 class="pag_title text-primary">Missão</h2>
                <p>
                    Nossa missão é ser a corrente de ar favorável que irá tornar a jornada mais leve para aqueles que precisam encará-la.
                    Queremos colaborar para que pessoas refugiadas se sintam mais preparadas para buscar refúgio no Brasil, através da informação segura
                    e facilitação da construção de uma rede de apoio.
                </p>

                <h2 class="pag_title text-primary">Visão</h2>
                <p>
                    Nossa visão é ser a referência do Brasil para pessoas que pensam em se refugiar;
                    Criar um ambiente onde a informação atrelada a uma rede de apoio ajude no processo
                    de readaptação em um novo território.
                </p>                
            </div>
            <div class="col-sm-5 my-3">
                <img src="/img/sobre-andor-4.svg" width="100%" />
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm-5">
                <img src="/img/sobre-andor-5.svg" width="90%" />
            </div>
            <div class="col-sm-7 card-simple text-long">
                <h2 class="pag_title text-primary">Valores</h2>
                <p>
                    Nossos valores se baseiam na solidariedade, tolerância e coletividade, para que possamos espalhar informações úteis e colaborar
                    na criação de redes de apoio sem discriminações.
                </p>
            </div>

        </div>

    </div>
</div>

