@{
    ViewData["Title"] = "Emergência";
}
<div class="container-fluid pt-0">
    <div class="container">
        <div class="d-flex flex-column  p-3">

            <h2 class="pag_title mb-3">Emergência</h2>
            <p>**Não se deve pedir informação nos números de emergência</p>

            <div class="row justify-content-center">

                <div class="row">

                    <!--Card 1a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple m-2 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-190">190</a>
                                </h2>
                            </span>
                            <h4>Polícia Militar</h4>
                            <p>Risco de vida, denúncia de roubos, atentados, proteção pública, mediação de conflitos, etc.</p>
                        </div>
                    </div>

                    <!--Card 2a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-191">191</a>
                                </h2>
                            </span>
                            <h4>Polícia Rodoviária Federal</h4>
                            <p>Fiscaliza as rodovias e estradas federais, fazendo valer o Código de Trânsito Brasileiro.</p>
                        </div>
                    </div>

                    <!--Card 3a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-192">192</a>
                                </h2>
                            </span>
                            <h4>SAMU</h4>
                            <p>Emergências médicas.</p>
                        </div>
                    </div>

                    <!--Card 4a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-193">193</a>
                                </h2>
                            </span>
                            <h4>Bombeiros</h4>
                            <p>Primeiros Socorros, Incêndios, acidentes com animais, vazamento de gás, acidentes com produtos químicos, alagamentos e queimadas. </p>
                        </div>
                    </div>

                    <!--Card 5a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-197">197</a>
                                </h2>
                            </span>
                            <h4>Polícia Civil</h4>
                            <p>Denúncia sobre foragidos da justiça e crimes (ocorridos, em andamentos ou em planajemento.). As denúncias podem ser feitas anonimamente.</p>
                        </div>
                    </div>

                    <!--Card 6a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-198">198</a>
                                </h2>
                            </span>
                            <h4>Polícia Rodoviária Estadual</h4>
                            <p>Ocorrências em rodovias estatuais, como pedidos de socorro e reclamações.</p>
                        </div>
                    </div>

                    <!--Card 7a-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="Telefone">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-199">199</a>
                                </h2>
                            </span>
                            <h4>Defesa Civil</h4>
                            <p>Desastres que exponham a população a riscos, como deslizamentos, alagamentos, etc.</p>
                        </div>
                    </div>

                </div>

                <h2 class="pag_title mb-3">Outros Números Úteis</h2>
                <p>**Não se deve pedir informação nos números de emergência</p>

                <div class="row">

                    <!--Card 1b-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="100 telefone de direitos humanos">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-100">100</a>
                                </h2>
                            </span>
                            <h4>Direitos Humanos</h4>
                            <p>
                                Denúncias contra violência, abuso sexual, agressões físicas e/ou psicológicas cometidas contra crianças
                                e adolescentes, denúncias de pessoas em situação de rua, da população LGBT, de pessoas com deficiência e idosos.
                            </p>
                        </div>
                    </div>

                    <!--Card 2b-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="100 telefone de direitos humanos">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-127">127</a>
                                </h2>
                            </span>
                            <h4>Ouvidoria do Ministério Público</h4>
                            <p>
                                Denúncia de crimes ambientais, danos ao patrimônio público, desrespeito ao Código do Consumidor, abuso de
                                autoridade e crimes como trabalho análogo à escravidão.
                            </p>
                        </div>
                    </div>

                    <!--Card 3b-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="100 telefone de direitos humanos">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-136">136</a>
                                </h2>
                            </span>
                            <h4>SUS</h4>
                            <p>
                                Denúncias de irregularidade, dúvidas, reclamações e informações sobre saúde.
                            </p>
                        </div>
                    </div>

                    <!--Card 4b-->
                    <div class="col-md-3 mb-4">
                        <div class="card-simple gap-1 text-center">
                            <span class="d-flex justify-content-center gap-2 my-3">
                                <img src="/img/icon-phone-emergencia.svg" style="width:30px" alt="100 telefone de direitos humanos">
                                <h2 class="font-weight-bold">
                                    <a href="tel:+5511-151">151</a>
                                </h2>
                            </span>
                            <h4>PROCON</h4>
                            <p>
                                Denúncias e dúvidas relacionadas ao direito do consumidor.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
    </div>
</div>