@{
    ViewData["Title"] = "Doação";
}
<div class="container-fluid p-0">
    <div class="container my-4">
        <div class="card-simple">
            <h2 class="pag_title">Doação</h2>
            <hr />
            <div class="row">

                <div class="text-doacao row">
                    <div class="col-sm-6 d-flex justify-content-center">
                        <img src="~/img/banner-doacao.svg" alt="" width="300px">
                    </div>
                    <div class="col-sm-6">
                        <p>Para fazer uma doação para o projeto Andor usando o Pix basta acessar sua conta e inserir a chave:</p>
                        <h1>euapoio@andor.com</h1>
                        <p>Ou ler o QR Code diretamente do aplicativo do seu banco:</p>
                        <p>
                            Esse novo meio de pagamento instantâneo pode ser usado para transferências bancárias,
                            pagamentos e também é uma ótima alternativa para quem quer fazer doações.
                        </p>
                    </div>

                </div>

                <div class="col-sm-6 d-flex flex-column justify-content-center text-doacao">
                    <p>Pessoas físicas e jurídicas podem fazer transações de valores em até 10 segundos, 24h por dia, todos os dias da semana.</p>
                    <p>O Pix dispensa o processo de informar todos os dados bancários e pessoais para fazer e receber uma transferência ou pagamento, o que simplifica as doações para instituições e projetos como o Andor</p>
                    <p>O PIX agiliza o processo de ajudar refugiados em sua nova casa. Vamos juntos construir um futuro melhor para todos.</p>
                </div>

                <div class="col-sm-6 d-flex justify-content-center">
                    <img src="~/img/qrCode.png" title="euapoio@andor.com" alt="" width="265px">
                </div>

            </div>

            <hr />
        </div>
    </div>
</div>