@{
    ViewData["Title"] = "Doação";
}
<div class="container-fluid pt-0">
    <div class="container">
        <h2>Doação</h2>
@{/*
        <div class="tradutor">
            <div id="google_translate_element">
                <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
                    <div id=":0.targetLanguage">
                        <select class="goog-te-combo" aria-label="Widget de tradução de idiomas">
                            <option value="">Selecione o idioma</option>
                            <option value="af">Africâner</option>
                            <option value="sq">Albanês</option>
                            <option value="de">Alemão</option>
                            <option value="am">Amárico</option>
                            <option value="ar">Árabe</option>
                        </select>
                    </div>
                    Powered by
                    <span style="white-space:nowrap">
                        <a class="goog-logo-link" href="https://translate.google.com" target="_blank">
                            <img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png" width="37px" height="14px" style="padding-right: 3px" alt="Google Tradutor">
                            Tradutor
                        </a>
                    </span>
                </div>
            </div>
        </div>
        */
}
    </div>
</div>