@model Andor.Models.Pessoa
@{
    var mensagem = ViewData["mensagem"];
}
<div  class="container-fluid pt-0 mb-5 pb-5 modal-dialog-scrollable bg-light">
    <div  class="container">
        <div class="card-3d-wrap mx-auto border p-4 forms-details" style="">
            <form asp-action="EditarSenha" method="post" class="mt-3"><!-- manutenção de senha -->
                <h4 class="border-bottom">Manutenção de senha</h4>
                <br />
                <div class="">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="">
                        <label class="control-label">Senha</label>
                        <input class="form-control" name="senha" type="password" />
                    </div>
                    <div class="">
                        <label class="control-label">Nova senha</label>
                        <input class="form-control" name="nSenha" type="password" />
                    </div>
                    <div class="">
                        <label class="control-label">Repetir nova senha</label>
                        <input class="form-control" name="rSenha" type="password" />
                    </div>
                </div>
                <div class="text-right">
                    @{
                        if (mensagem != null)
                        {
                            <span>@mensagem</span>
                        }
                    }
                    <br />
                    <button class="btnn mt-3" >Salvar senha</button>
                </div>
            </form>

        </div>

    </div>
</div>
 

