@{
    ViewData["Title"] = "Empregos e Serviços";
}
<div class="container-fluid pt-0 bg-light">
    <div class="container text-black-50 p-3">
        <div class="px-3 pt-3 pb-2 mb-2 forms-details-full">
            <h4>Empregos e Serviços</h4>
        </div>  
        <div class="d-flex justify-content-around flex-wrap ">

              
            <div class="col-sm-6"> 
                <div class="mx-1 my-3 p-3 forms-details-full">
                    <img src="" style="width:100%"/>
                    <a asp-controller="Profissional" asp-action="Index"><h5>Estou a procura de profissional ou serviço</h5></a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into
                    </p>

                </div>

            </div>

            <div class="col-sm-6">  
                <div class="mx-1 my-3 p-3 forms-details-full">
                    <img src="" style="width:100%"/>
                    <a asp-controller="Trabalho" asp-action="Index"><h5>Estou a procura de trabalho ou emprego</h5></a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>