@{
    ViewData["Title"] = "Empregos e Serviços";
}
<div class="container-fluid pt-0 bg-light">
    <div class="container text-black-50 p-3">
        <div class="px-3 pt-3 pb-2 mb-2 forms-details-full">
            <a asp-controller="Trabalho" asp-action="Index">Procuro trabalho ou emprego</a>
            <br />
            <a asp-controller="Profissional" asp-action="Index">Procuro profissional ou serviço</a>
        </div>   
    </div>
</div>