@{
    ViewData["Title"] = "Ongs Parceiras";
}

<div class="container-fluid pt-0 ongs-parceiras-cards">
    <div class="container mt-3">        

        <div class="ongs-parceiras-cards container mb-3">
            <h1 class="pag_title mb-3">Ongs Parceiras</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card align-items-center">
                        <img src="~/img/unhcr-logo-ES.png" alt="UNHCR ACNUR">
                        <div class="card-body">
                            <h5 class="card-title">ACNUR</h5>
                            <p class="card-text">O trabalho do ACNUR, a Agência da ONU para Refugiados, no Brasil é pautado pelos mesmos princípios e funções que em qualquer outro país: proteger os refugiados e promover soluções duradouras para seus problemas.</p>
                            <a href="https://www.acnur.org/portugues/acnur-no-brasil/?utm_campaign=BR_PS_PT_general_UNHCR_CoreBrand&gclid=Cj0KCQiA0p2QBhDvARIsAACSOOOcpGQBm5N-o23y_ajLnxsyrYWk1T1JyM2i48U5WPYJ1kKIqbpcQuMaAprJEALw_wcB&gclsrc=aw.ds" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card align-items-center">
                        <img src="~/img/abraço-cultural.png" alt="Abraço cultural">
                        <div class="card-body">
                            <h5 class="card-title">Abraço Cultural</h5>
                            <p class="card-text">Eles são  um projeto pioneiro em capacitar refugiados/as para dar aulas de idiomas e cultura. Eles buscam promover a troca de experiências e a valorização pessoal e cultural de refugiados/as residentes no Brasil.</p>
                            <a href="https://www.facebook.com/abcultural/" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card align-items-center">
                        <img src="~/img/gade-removebg-preview.png" alt="GADE">
                        <div class="card-body">
                            <h5 class="card-title">Gade</h5>
                            <p class="card-text">Eles são uma ong recifense criada em 2018, que levam como missão ajudar refugiados e pessoas em vulnerabilidade social, através da educação, esporte e lazer.</p>
                            <a href="https://www.instagram.com/gade_haiti/" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card align-items-center">
                        <img src="~/img/Caritas_brasileiras-removebg-preview.png" alt="Caritas Brasileiras">
                        <div class="card-body">
                            <h5 class="card-title">Cáritas Brasileira</h5>
                            <p class="card-text">É uma ong que desde a sua fundação, tem a prática de ouvir respeitosamente o sofrimento dos empobrecidos e dos que estão em situação de vulnerabilidade e fornecer ferramentas para transformar suas vidas.</p>
                            <a href="https://caritas.org.br/" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card align-items-center">
                        <img src="~/img/trampolim.png" alt="Trampolim">
                        <div class="card-body">
                            <h5 class="card-title">Trampolim</h5>
                            <p class="card-text">O Instituto Trampolim surgiu em dezembro de 2016, com objetivo de desenvolver projeto social através do esporte, garantindo a educação da prática esportiva sadia, integração, qualidade de vida, cultura e lazer.</p>
                            <a href="https://www.facebook.com/institutotrampolimouropreto/" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card align-items-center">
                        <img src="~/img/andor.png" alt="Andor">
                        <div class="card-body">
                            <h5 class="card-title">Andor Refugiados</h5>
                            <p class="card-text">Eles tem como objetivo informar e ajudar aos que buscam refúgio, por informar sobre noticias sobre a localidade, ajudar a encontrarem emprego, moradia e dar a eles o conhecimento de seus direitos e leis que os protegem.</p>
                            <a href="http://localhost:36485/Blog" class="btn btn-primary">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
