
/* BLOG */

.pag_title {
    margin-top: 20px;
    margin-bottom: 25px;
    color: #081333;
    font-size: 1.5rem;
    font-weight:700;

}

.blog_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 80px;
    margin-bottom: 80px;
}

.blog {
    width: 35rem;
    color: #242424;
}

    .blog .blog_card {
        background-color: #081333;
        border-radius: 0.5rem;
        display: grid;
        grid-template-columns: 5rem 1fr 4rem;
        grid-gap: 1rem;
        padding: 1.25rem 0.5rem;
    }

.blog_card .imgBox {
    display: grid;
    place-content: center;
}

    .blog_card .imgBox img {
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 40px;
    }

.blog_card label {
    display: block;
    font-size: 1.5rem;
    margin-left: 50px;
}

.blog_card .blog_title {
    margin-bottom: 0.25rem;
    color: #fff;
    font-size: 1.5rem;
}

.blog_card .blog_descript {
    font-size: 1rem;
    color: #fff;
}

.blog_card .action {
    display: grid;
    place-content: center;
}

.blog_card i {
    font-size: 1.25rem;
    color: #fff;
}

.blog.active .blog_card i {
    transform: rotateZ(180deg);
}

.blog .blog_info {
    margin-top: 1rem;
    height: 0px;
    overflow: hidden;
    transition: height 0.25s linear;
    overflow-y: scroll;
    max-height: 30vh;
}

.blog.active .blog_info {
    height: 250px;
}

.blog_info div {
    margin-bottom: 1rem;
}

.blog_info .blog_about {
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    line-height: 1.5rem;
}


