@{
    ViewData["Title"] = "Blog - Informações Úteis";
}
<div class="container-fluid pt-0">
    <div class="container">
        <h2 class="pag_title">Blog - Informações Úteis</h2>
        <div class="blog_grid">
            <div class="blog">
                <div class="blog_card" onClick="view()">
                    <div class="imgBox">
                        <img src="./img/banner-primeiros-passos.svg" alt="" />
                    </div>
                    <div>
                        <label class="blog_title">Primeiros Passos </label>
                        <label class="blog_descript">
                            Saiba quais são os primeiros passos para
                            solicitar refúgio no Brasil.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Como solicitar refúgio</h3>
                        <p>
                            O <strong>primeiro passo</strong> é saber se você se encaixa no perfil previsto pela Lei Nº 9.474, responsável pela implementação do Estatuto dos Refugiados.
                            Existem três possíveis condições para se tornar elegível: <br />
                        </p>
                        <p>
                            <em>
                                “<strong>I</strong> - devido a fundados temores de perseguição por motivos de raça, religião, nacionalidade, grupo social ou opiniões políticas encontre-se
                                fora de seu país de nacionalidade e não possa ou não queira acolher-se à proteção de tal país; <br />
                                <strong>II</strong>  - não tendo nacionalidade e estando fora do país onde antes teve sua residência habitual, não possa ou não queira regressar a ele, em função
                                das circunstâncias descritas no inciso anterior; <br />
                                <strong>III</strong>  - devido a grave e generalizada violação de direitos humanos, é obrigado a deixar seu país de nacionalidade para buscar refúgio em outro país.”
                            </em>
                            (BRASIL, 1997)
                        </p>
                        <br />
                        <p>
                            E esse reconhecimento pode ser estendido ao cônjuge, aos ascendentes e descentes, assim como outros membros familiares. Para entender melhor sobre a
                            Lei que define as mecânicas do Estatuto dos Refugiados, <a href="http://www.planalto.gov.br/ccivil_03/leis/l9474.htm" alt="Lei 9.474">leia aqui.</a>
                            <br />
                            <br />
                            O <strong>pedido de refúgio</strong> deve ser formalmente feito perante a Polícia Federal para que seja emitido um <strong>documento temporário</strong>,
                            chamado <em>Documento Provisório de Registro Nacional Migratório (DPRNM).</em> Esse documento gera um protocolo provisório que garante direito da pessoa solicitante de permanecer no País
                            até a decisão final do processo. Também permite a emissão da Carteira de Trabalho provisória, acesso ao Sistema Único de Saúde (SUS) e as Instituições Públicas de Ensino.
                            <br />
                            <br />
                            No Brasil, o órgão público responsável pela análise dos pedidos é a <strong>CONARE (Comitê Nacional para os Refugiados).</strong> O processo possui duas etapas:
                            a primeira consiste em analisar os fatos pertinentes do caso, ou seja, ouvir a história do solicitante e apurar os fatos que o levaram a situação
                            de refúgio; A segunda fase, aplica-se os critérios do Direito Internacional dos Refugiados aos fatos, para saber se ela realmente configura a
                            posição de “pessoa refugiada”. (Jubilut, L. et al., 2021)
                            <br />
                            Entenda melhor
                            <a href="https://www.acnur.org/portugues/wp-content/uploads/2021/09/Reconhecimento-de-Status-de-Refugiado-pelo-Brasil-Dados-dos-primeiros-20-anos-da-Lei-9.474-de-1997-Jubilut-et-al.pdf" alt="Artigo sobre reconhecimento do Status de Refugiado pelo Brasil">lendo aqui.</a>
                            <br />
                            O CPF é um documento essencial para que se consiga acesso aos seus direitos no Brasil, por isso, é essencial que se solicite assim que possível:
                            É possível solicitar o CPF através <a href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/InscricaoCpfEstrangeiro/default.asp"> deste link. </a> (ACNUR, 2022) <br />
                            Confira mais informações sobre documentações <a href="https://help.unhcr.org/brazil/documentos/">aqui.</a>

                        </p>

                    </div>
                </div>
            </div>

            <div class="blog blog2">
                <div class="blog_card" onClick="view2()">
                    <div class="imgBox">
                        <img src="./img/banner-estudos.svg" alt="" />
                    </div>
                    <div>
                        <label class="blog_title">Acesso à Educação </label>
                        <label class="blog_descript">
                            Saiba sobre o Direito a Educação e Revalidação de Diploma.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Direito à Educação</h3>
                        <p>
                            No Brasil, a educação é um dos direitos básicos previstos na Constituição.
                            Esse direito é extendido a pessoas em situação de refúgio e outras condições migratórias.
                            Antes, existiam grandes dificuldades quanto a: <br />
                            <div style="text-align: center">
                                <em style='text-align: center'>
                                    1) necessidade de comprovar documentação de escolaridade anterior; <br />
                                    2) exigência de tradução juramentada de documentação; <br />
                                    3) não aplicação pelas instituições de ensino de avaliações de equivalência para fins de
                                    classificação nas séries e etapas escolares; <br />
                                    4) ausência de norma nacional específica sobre direitos de educação para refugiados. <br />
                                </em>
                            </div>

                            Desde 2020, seguimos uma resolução que visa desburocratizar esses processos, onde no Artigo 1º da Resolução se: <br />
                            <br />
                            <div style="text-align: center">
                                <em>
                                    "dispõe sobre o direito de matrícula de crianças e adolescentes
                                    migrantes, refugiados, apátridas e solicitantes de refúgio nas redes públicas de educação
                                    básica brasileiras, sem o requisito de documentação comprobatória de escolaridade anterior,
                                    nos termos do artigo 24, II, “c”, da Lei nº 9.394, de 20 de dezembro de 1996 (LDB), e sem
                                    discriminação em razão de nacionalidade ou condição migratória.""
                                </em>
                            </div>
                            <br />
                            Confira toda a Resolução e os direitos que ela garante
                            <a href="http://portal.mec.gov.br/index.php?option=com_docman&view=download&alias=165271-rceb001-20&category_slug=novembro-2020-pdf&Itemid=30192">leia aqui.</a>
                            <br />

                            Sendo assim, solicitantes e pessoas em situação de refúgio tem direito ao Sistema de Educação Brasileiro em todos os níveis:
                            <br />
                            <div style='text-align: center'>
                                1. Educação básica para crianças de 0 a 17 anos (Creche, Ensino Fundamental e Ensino Médio); <br />
                                2. Educação básica para adultos (Maiores de 18 anos); <br />
                                3. Educação técnica; <br />
                                4. Educação universitária. <br />
                            </div>
                            <br />
                            <br />
                            <h3>Revalidação de Diploma</h3>

                        <p>
                            Se você já tem uma formação e deseja revalidar seu diploma, a ACNUR tem algumas instruções para o processo:
                            <div style='text-align center'>
                                <strong>1.</strong> Informe-se sobre qual universidade pública brasileira oferece cursos na mesma área de conhecimento que o seu. <br />
                                <strong>2.</strong> Antes de iniciar o processo de revalidação, é preciso: comparar o conteúdo programático dos cursos; analisar a nota da prova; 
                                verificar se o curso já teve alguma turma formada (para que seja reconhecido pelo MEC); verificar o preço da taxa de revalidação; 
                                verificar se o processo de revalidação está em pleno funcionamento e, se possível, entrar em contato prévio com o coordenador do 
                                curso para sanar outras dúvidas. <br />
                                <strong>3.</strong> Apresente o pedido de revalidação acompanhado de sua certidão de refúgio expedida pelo CONARE e de todos os documentos relevantes 
                                disponíveis (tais como diploma de graduação, currículo e registros universitários). <br />
                                <strong>4.</strong> Universidades geralmente cobram uma taxa para este processo, que pode variar muito dependendo das instituições. Algumas universidades 
                                determinaram uma redução da taxa para pessoas em situação de vulnerabilidade (mediante auto-declaração) ou de refúgio – por isso o/a 
                                refugiado/a deve procurar em todo o território nacional o melhor custo-benefício. <br />
                                <strong>5.</strong> Um comitê especial composto por professores universitários avaliará seu pedido de revalidação. <br />
                                <strong>6.</strong> Se houver divergências entre o curso realizado no exterior e o oferecido pela universidade, ou no caso de falta de documentação, o comitê 
                                poderá solicitar que você faça exames (em português) ou aulas complementares para reconhecer a equivalência de graus. <br />
                                <strong>7.</strong> Algumas universidades também exigem um certificado de proficiência em língua portuguesa para estrangeiros. O CELPE-Bras é o único certificado 
                                oficial brasileiro de proficiência em português e é concedido em quatro níveis: Intermediário, Intermediário Superior, Avançado e Avançado Superior. 
                                Para mais informações, consulte o site do CELPE-Bras. (ACNUR, 2022)

                            <br />
                            <br />
                            Confira mais informações <a href="https://help.unhcr.org/brazil/viver-no-brasil/educacao/">aqui.</a>

                            </div>
                        </p>
                        </p>
                    </div>
                </div>
            </div>


            <div class="blog blog3">
                <div class="blog_card" onClick="view3()">
                    <div class="imgBox">
                        <img src="./img/banner-saude.svg" alt="" />
                    </div>
                    <div>
                        <label class="blog_title">Acesso à Saúde Pública </label>
                        <label class="blog_descript">
                            Saiba como ter acesso ao Sistema Único de Saúde (SUS).
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Como se cadastrar no SUS</h3>
                        <p>
                             O Sistema Único de Saúde (SUS) é um direito assegurado pela legislação brasileira e possui os principíos da <strong>universalidade, gratuidade e acesso igualitário</strong> 
                            para todos os indíviduos presentes em território brasileiro. Existem UBS e Postos de Saúde Públicos espalhados em todo território brasileiro 
                            e qualquer um pode ser acessado com o Cartão SUS. <br /> 
                            <br />
                            Para acessar o SUS é necessário ter uma carteirinha. Para emití-la, você deve <strong>apresentar seu CPF e o protocolo provisório (ou definitivo) em qualquer hospital,
                            clínica ou posto de saúde e solicitar o Cartão SUS</strong>, que é gratuito. (ACNUR, 2014).
                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog4">
                <div class="blog_card" onClick="view4()">
                    <div class="imgBox">
                        <img src="./img/banner-abrigo.svg" alt="" />
                    </div>
                    <div>
                        <label class="blog_title"> Abrigamento </label>
                        <label class="blog_descript">
                            Confira os locais que fornecem abrigo para pessoas refugiadas que chegam no país e não tem onde ficar.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Abrigos Públicos</h3>
                        <p>
                            O número de vagas dos abrigos costumam ser limitados e existem poucos abrigos voltados exclusivamente para pessoas refugiadas, a maioria
                            está aberta para brasileiros e estrangeiros em situação de vulnerabilidade. <br />
                            <br />
                            Confira <a href="https://help.unhcr.org/brazil/viver-no-brasil/moradia-e-abrigamento/">neste link</a> da ACNUR uma lista de abrigos específicos 
                            para pessoas em situação de refúgio
                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog5">
                <div class="blog_card" onClick="view5()">
                    <div class="imgBox">
                        <img src="./img/banner-cidadania.svg" alt="" />
                    </div>
                    <div>
                        <label class="blog_title">Empregabilidade</label>
                        <label class="blog_descript">
                            Saiba como emitir a Carteira de Trabalho.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Como emitir a Carteira de Trabalho (CTPS) </h3>
                        <p>
                            Primeiro, é necessário ter o <strong>Documento Provisório de Registro Nacional Migratório (DPRNM).</strong> Com ele e o CPF, é possível emitir a Carteira de Trabalho
                            através <a href="https://www.gov.br/pt-br/servicos/obter-a-carteira-de-trabalho" alt="Site do Governo Federal para emissão da Carteira de Trabalho">desse link</a>.
                            É necessário fazer um cadastro para acessar os serviços oferecidos pelo Site do Governo Federal.
                            <br />
                            <br />
                            Para saber mais e conferir oportunidades, acesse a <a href="https://trampolimcaritasrj.org/" alt="Plataforma Trampolim"> Plataforma Trampolim. </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="blog blog6">
                <div class="blog_card" onClick="view6()">
                    <div class="imgBox">
                        <img src="./img/banner-documentacao.svg" alt="" />
                    </div>
                    <div>
                        <label class="blog_title">Assistencia Social</label>
                        <label class="blog_descript">
                            Saiba quais programas de assistencia social pessoas em situação de refúgio podem fazer parte.
                        </label>
                    </div>
                    <div class="action">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="blog_info">
                    <div class="blog_about">
                        <h3>Programas Sociais</h3>
                        <p>
                            As pessoas refugiadas devem se registrar no <strong>Cadastro Único (CadÚnico)</strong> para ter acesso aos programas sociais, da mesma forma que qualquer brasileiro.
                            Para realizar seu cadastro no CadÚnico, é necessário ir ao <strong>CRAS (Centro de Referência de Assistência Social)</strong> mais próximo da sua residencia. <br />
                            Com o CadÚnico é possível se candidatar a vários programas sociais, entre eles, os principais são: <br /> 
                            <br />
                           <strong>1. Auxílio Brasil - Assistência Financeira</strong>  <br />
                            O programa atende famílias que estejam na linha da pobreza pobreza (renda mensal até R$200,00) <br />
                            Confira <a href="https://www.caixa.gov.br/programas-sociais/auxilio-brasil/Paginas/default.aspx">aqui</a>. <br />
                            <br />
                            <strong>2. Minha Casa, Minha Vida</strong> <br />
                            O programa oferece condições especiais de financiamento de moradias em diversas áreas do Brasil. <br />
                            Confira <a href="https://www.caixa.gov.br/programas-sociais/auxilio-brasil/Paginas/default.aspx">aqui</a>. <br />
                            <br />
                            <strong>3. Projovem</strong> <br />
                            O programa oferece bolsa de estudo para jovens adultos de 18 a 29 anos que sao alfabetizados, mas não concluíram o ensino fundamental. <br />
                            Confira <a href="https://www.fnde.gov.br/programas/programas-suplementares/ps-educacao-jovens-e-adultos/ps-projovem-urbano">aqui</a>. <br />
                            <br />
                            <strong>4. Tarifa Social de Energia Elétrica </strong> <br /> 
                            O programa oferece desconto na energia elétrica para famílias de baixa renda. <br />
                            Confira <a href="https://www.aneel.gov.br/tarifa-social-baixa-renda">aqui</a>. <br />
                            
                            (ACNUR, 2014)
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
         blog = document.querySelector(".blog").classList;

         var view = function () {
           if (blog.contains("active")) {
             blog.remove("active");
           } else {
             blog.add("active");
           }
         };

         blog2 = document.querySelector(".blog2").classList;

         var view2 = function () {
           if (blog2.contains("active")) {
             blog2.remove("active");
           } else {
             blog2.add("active");
           }
         };

         blog3 = document.querySelector(".blog3").classList;

         var view3 = function () {
           if (blog3.contains("active")) {
             blog3.remove("active");
           } else {
             blog3.add("active");
           }
         };

         blog4 = document.querySelector(".blog4").classList;

         var view4 = function () {
           if (blog4.contains("active")) {
             blog4.remove("active");
           } else {
             blog4.add("active");
           }
         };

         blog5 = document.querySelector(".blog5").classList;

         var view5 = function () {
           if (blog5.contains("active")) {
             blog5.remove("active");
           } else {
             blog5.add("active");
           }
         };

        blog6 = document.querySelector(".blog6").classList;

         var view6 = function () {
           if (blog6.contains("active")) {
             blog6.remove("active");
           } else {
             blog6.add("active");
           }
         };
    </script>



</div>