@model Andor.Models.Moradia
@{
    ViewData["Title"] = "Adicionar";
    var id_pessoa = ViewData["Id_pessoa"];
}

<div class="container-fluid pt-0 bg-light">
    <div class="container text-black-50 p-3">
        
        <div class="row justify-content-center">
            <!-- coluna da esquerda -->
            <!--
            <div class="col-6">
                <img class="col-md-12" src=~/img/moradia.jpg />
            </div>
            -->
            <!-- coluna da direita -->
            <div class="col-11 bg-cards-1">
                <h4 class="text-right">Oferta de moradia</h4>
                <hr />
                <form asp-action="moradiaCreate">
                    <div class="form-group" style="display:none">
                        <input type="text" value="@ViewData["Id_pessoa"]" asp-for="Id_pessoa" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Título da oferta</label>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Descrição</label>
                        <textarea asp-for="Descricao" class="form-control" maxlength="200"></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 px-3">
                            <label class="control-label">Tipo</label>
                            <select class="custom-select" asp-for="Tipo">
                                <option selected>-</option>
                                <option>Apartamento</option>
                                <option>Casa</option>
                                <option>Quarto</option>
                            </select>
                        </div>
                        <div class="form-group col-6 px-3">
                            <label class="control-label">Preço</label>
                            <input asp-for="Preco" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Endereço</label>
                        <input asp-for="Endereco" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="form-group col-4 px-3">
                            <label class="control-label">Número</label>
                            <input asp-for="Numero" class="form-control" />
                        </div>
                        <div class="form-group col-4 px-3">
                            <label asp-for="CEP" class="control-label"></label>
                            <input asp-for="CEP" class="form-control" />
                        </div>
                        <div class="form-group col-4 px-3">
                            <label asp-for="UF" class="control-label"></label>
                            <select asp-for="UF" class="custom-select">
                                <option selected>-</option>
                                <option>AC</option>
                                <option>AL</option>
                                <option>AP</option>
                                <option>AM</option>
                                <option>BA</option>
                                <option>CE</option>
                                <option>DF</option>
                                <option>ES</option>
                                <option>GO</option>
                                <option>MA</option>
                                <option>MS</option>
                                <option>MT</option>
                                <option>MG</option>
                                <option>PA</option>
                                <option>PB</option>
                                <option>PR</option>
                                <option>PE</option>
                                <option>PI</option>
                                <option>RJ</option>
                                <option>RN</option>
                                <option>RS</option>
                                <option>RO</option>
                                <option>RR</option>
                                <option>SC</option>
                                <option>SP</option>
                                <option>SE</option>
                                <option>TO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cidade" class="control-label"></label>
                        <input asp-for="Cidade" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nome do locador</label>
                        <input asp-for="NomeContato" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="form-group col-6 px-3">
                            <label class="control-label">Telefone do locador</label>
                            <input asp-for="TelefoneContato" class="form-control" />
                        </div>
                        <div class="form-group col-6 px-3">
                            <label class="control-label">Email do locador</label>
                            <input asp-for="EmailContato" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="DataCadastro" class="control-label"></label>
                        <input type="datetime" value="@DateTime.Now" asp-for="DataCadastro" class="form-control" />
                    </div>
                    <div class="form-group d-flex mt-4 justify-content-end">
                        <hr />
                        <input type="submit" value="Adicionar" class="btnn btn-editar" />
                        <a asp-controller="Pessoa" asp-action="Details" asp-route-id="@id_pessoa" class="btnn btn-editar ml-2">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>