@model Andor.Models.Pessoa

@{
    ViewData["Title"] = "Editar";
    var mensagem = ViewData["mensagem"];
}

<div  class="container-fluid pt-0 mb-5 pb-5 modal-dialog-scrollable bg-light">
    <div  class="container">
        <div class="row justify-content-center pt-2"  style="padding-bottom:150px;">
            <!-- coluna da esquerda -->
            <div class="perfil-menu mb-3 p-3">
                @{
                    <img src="/Imagem/VerImagem/@Model.Id?tipo=perfil" alt="imagem do perfil"/>
                }
            </div>
            <!-- Forms -->
            <div class="forms-details bg-white text-black-50"> <!-- coluna da direita -->
                <div id="perfil" >
                    <h4 class="pt-3 border-bottom text-right">Editar / Completar cadastro</h4>
            
                    <form action="/Imagem/UploadImagem" enctype="multipart/form-data" method="post"> <!-- Adicionar imagem ao perfil -->
                        <div >
                            <label class="control-label">Avatar</label>
                            <input class="form-control" type="file" name="arquivos" accept=".jpg, .jpeg, .png"/>
                            <input type="hidden" asp-for="Id" name="id_pessoa" />
                        </div>
                        <div class="text-right">             
                            <button class="btnn mt-3">Enviar Imagem</button>
                        </div>
                    </form>
                    
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="Senha" class="control-label"></label>
                                <input type="hidden" asp-for="Senha" class="form-control" />
                                <label class="form-control"><a asp-controller="Login" asp-action="EditarSenha" asp-route-id="@Model.Id" class="text-dark">Alterar senha</a></label>   
                            </div>  
                            <div class="col-6">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label asp-for="CRNM" class="control-label"></label>
                                <input asp-for="CRNM" class="form-control" />
                            </div>
                            <div class="col-6">
                                <label asp-for="CPF" class="control-label"></label>
                                <input asp-for="CPF" class="form-control" />
                                <span asp-validation-for="CPF" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="control-label">Endereço</label>
                                <input asp-for="Endereco" class="form-control" />
                            </div>
                            <div class="col-12">
                                <label class="control-label">Bairro</label>
                                <input asp-for="Bairro" class="form-control" />
                            </div>
                            <div class="col-12">
                                <label class="control-label">UF</label>
                      
                                <select asp-for="UF" class="custom-select">
                                    <option selected>-</option>
                                    <option>AC</option>
                                    <option>AL</option>
                                    <option>AP</option>
                                    <option>AM</option>
                                    <option>BA</option>
                                    <option>CE</option>
                                    <option>DF</option>
                                    <option>ES</option>
                                    <option>GO</option>
                                    <option>MA</option>
                                    <option>MS</option>
                                    <option>MT</option>
                                    <option>MG</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PR</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                    <option>RJ</option>
                                    <option>RN</option>
                                    <option>RS</option>
                                    <option>RO</option>
                                    <option>RR</option>
                                    <option>SC</option>
                                    <option>SP</option>
                                    <option>SE</option>
                                    <option>TO</option>
                                </select>

                            </div>
                            <div class="col-12">
                                <label class="control-label">Cidade</label>
                                <input asp-for="Cidade" class="form-control" />
                            </div>
                            <div class="col-3">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" class="form-control" />
                            </div>
                            <div class="col-9">
                                <label asp-for="CEP" class="control-label"></label>
                                <input asp-for="CEP" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label class="control-label">Sexo</label>
                                <select class="custom-select" asp-for="Sexo">
                                    <option selected>-</option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                            <div class="col">
                                <label asp-for="Nacionalidade" class="control-label"></label>
                                <input asp-for="Nacionalidade" class="form-control" />
                            </div>
                            <div class="col">
                                <label asp-for="DataNascimento" class="control-label"></label>
                                <input asp-for="DataNascimento" class="form-control" />
                            </div>
                        </div>
                        <div style="display:none;">
                            <label asp-for="DataCadastro" class="control-label"></label>
                            <input asp-for="DataCadastro" class="form-control" />
                        </div>
                        <div class="form-group d-flex mt-4 justify-content-end">
                            
                            <input type="submit" value="Salvar" class="btnn btn-editar" style="width:auto" />
                            <a asp-controller="Pessoa" asp-action="Details" asp-route-id="@Model.Id" class="btnn btn-editar ml-3">Voltar</a>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
