@model Andor.Models.Pessoa

@{
    ViewData["Title"] = "Editar";
    var mensagem = ViewData["mensagem"];
    var _mensagem = TempData["mensagem"];
}

<div class="container-fluid pt-0 mb-5 pb-5 modal-dialog-scrollable bg-light">
    <div class="container">
        <div class="row justify-content-center pt-2" style="padding-bottom:150px;">
            <!-- coluna da esquerda -->
            <div class="perfil-menu mb-3 p-3">
                @{
                        <img src="/Imagem/VerImagem/@Model.Id?tipo=perfil" alt="imagem de perfil do usuário" />
                }
            </div>
            <!-- Forms -->
            <div class="forms-details bg-white text-black-50">
                <!-- coluna da direita -->
                <div id="perfil">
                    @if (_mensagem != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>@_mensagem</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <h4 class="pt-3 border-bottom text-right">Editar / Completar cadastro</h4>

                    <form action="/Imagem/UploadImagem" enctype="multipart/form-data" method="post">
                        <!-- Adicionar imagem ao perfil -->
                        <div>
                            <label class="control-label">Avatar</label>
                            <input class="form-control" type="file" name="arquivos" accept=".jpg, .jpeg, .png" />
                            <input type="hidden" asp-for="Id" name="id_pessoa" />
                        </div>
                        <div class="text-right">
                            <button class="btnn mt-3">Enviar Imagem</button>
                        </div>
                    </form>

                    <form asp-action="Edit" class="needs-validation" novalidate>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" type="text" class="form-control" minlength="3" maxlength="40" aria-required="true" required />
                                <div class="invalid-feedback" role="alert"> Seu nome deve ser informado. </div>
                            </div>
                            <div class="col-6">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" type="email" class="form-control" minlength="3" maxlength="40" aria-required="true" required />
                                <div class="invalid-feedback" role="alert"> Seu e-mail deve ser informado. </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label asp-for="Senha" class="control-label"></label>
                                <input type="hidden" asp-for="Senha" class="form-control" aria-required="true" required />
                                <label class="form-control"><a asp-controller="Login" asp-action="EditarSenha" asp-route-id="@Model.Id" class="text-dark">Alterar senha</a></label>
                                <div class="invalid-feedback" role="alert"> É necessário ter uma senha válida. </div>
                            </div>
                            <div class="col-6">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" type="tel" class="form-control" pattern="[0-9]+$" minlength="10" maxlength="13"  />
                                <div class="invalid-feedback" role="alert">Informe corretamente (somente números). </div>
                            </div>
                            <div class="col-6">
                                <label asp-for="CRNM" class="control-label"></label>
                                <input asp-for="CRNM" type="text" class="form-control" minlength="5" maxlength="15" />
                                <div class="invalid-feedback" role="alert">Informe corretamente, minimo 5 e máximo 15 caracteres. </div>
                            </div>
                            <div class="col-6">
                                <label asp-for="CPF" class="control-label"></label>
                                <input asp-for="CPF" type="text" class="form-control" minlength="11" maxlength="11" />
                                <div class="invalid-feedback" role="alert">Somente números, deve conter 11 dígitos.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="control-label">Endereço</label>
                                <input asp-for="Endereco" type="text" class="form-control" minlength="3" maxlength="60" />
                                <div class="invalid-feedback" role="alert">Mínimo de 3 e máximo de 60 caracteres.</div>
                            </div>
                            <div class="col-12">
                                <label class="control-label">Bairro</label>
                                <input asp-for="Bairro" type="text" class="form-control" minlength="2" maxlength="20" />
                                <div class="invalid-feedback" role="alert">Mínimo de 2 e máximo de 20 caracteres.</div>
                            </div>
                            <div class="col-12">
                                <label class="control-label">UF</label>

                                <select asp-for="UF" class="custom-select form-control">
                                    <option selected disabled value="">-</option>
                                    <option>AC</option>
                                    <option>AL</option>
                                    <option>AP</option>
                                    <option>AM</option>
                                    <option>BA</option>
                                    <option>CE</option>
                                    <option>DF</option>
                                    <option>ES</option>
                                    <option>GO</option>
                                    <option>MA</option>
                                    <option>MS</option>
                                    <option>MT</option>
                                    <option>MG</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PR</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                    <option>RJ</option>
                                    <option>RN</option>
                                    <option>RS</option>
                                    <option>RO</option>
                                    <option>RR</option>
                                    <option>SC</option>
                                    <option>SP</option>
                                    <option>SE</option>
                                    <option>TO</option>
                                </select>

                            </div>
                            <div class="col-12">
                                <label class="control-label">Cidade</label>
                                <input asp-for="Cidade" type="text" class="form-control" minlength="3" maxlength="20" />
                                <div class="invalid-feedback" role="alert">Mínimo de 2 e máximo de 20 caracteres.</div>
                            </div>
                            <div class="col-3">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" type="text" class="form-control" required pattern="[0-9]+$" maxlength="5" />
                                <div class="invalid-feedback" role="alert">Somente números.</div>
                            </div>
                            <div class="col-9">
                                <label asp-for="CEP" class="control-label"></label>
                                <input asp-for="CEP" type="text" class="form-control" required pattern="[0-9]+$" minlength="8" maxlength="8"  />
                                <div class="invalid-feedback" role="alert">Somente números, deve conter 8 dígitos.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label class="control-label">Sexo</label>
                                <select class="custom-select form-control" asp-for="Sexo">
                                    <option selected disabled value="">-</option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                            <div class="col">
                                <label asp-for="Nacionalidade" class="control-label"></label>
                                <input asp-for="Nacionalidade" type="text" class="form-control" minlength="2" maxlength="20" />
                                <div class="invalid-feedback" role="alert">Mínimo 2 e máximo 20 caracteres.</div>
                            </div>
                            <div class="col">
                                <label asp-for="DataNascimento" class="control-label"></label>
                                <input asp-for="DataNascimento" type="date" class="form-control" />
                            </div>
                        </div>
                        <div style="display:none;">
                            <label asp-for="DataCadastro" class="control-label"></label>
                            <input asp-for="DataCadastro" class="form-control" />
                        </div>
                        <div class="form-group d-flex mt-4 justify-content-end">

                            <input type="submit" value="Salvar" class="btn m-1 btn-editar" style="width:auto" />
                            <a asp-controller="Pessoa" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-editar m-1">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // desativa comportamento padrão do html5 se houver campos inválidos.
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
        var forms = document.getElementsByClassName('needs-validation');
        // Faz um loop neles e evita o envio caso não esteja validado
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>